# Renfe

### Import Library

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # Librería para la visualización de datos
import seaborn as sns # Librería para la visualización de datos
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OrdinalEncoder # Librería para crear modelos de ML

### Cargar el dataset

In [9]:
data_og = pd.read_csv('renfe.csv')
data = data_og.copy()
data.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75

In [15]:
target = ['PRECIO']

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383568 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  383568 non-null  object
 1   FECHA_INICIO    383568 non-null  object
 2   FECHA_FIN       383568 non-null  object
 3   CIUDAD_ORIGEN   383568 non-null  object
 4   CIUDAD_DESTINO  383568 non-null  object
 5   TIPO_TREN       345211 non-null  object
 6   TIPO_TARIFA     344009 non-null  object
 7   CLASE           344000 non-null  object
 8   PRECIO          355038 non-null  float64
dtypes: float64(1), object(8)
memory usage: 26.3+ MB

In [12]:
data.shape

(383568, 9)

In [14]:
for i in data.columns:
    print(i, data[i].value_counts(),'/n')

FECHA_CONSULTA FECHA_CONSULTA
2019-05-27 19:00:52    13
2019-06-02 11:01:46    13
2019-04-14 21:28:50    12
2019-05-22 21:01:20    12
2019-04-15 03:06:41    11
                       ..
2019-08-14 22:15:14     1
2019-08-21 22:00:24     1
2019-05-18 15:11:44     1
2019-06-09 17:44:39     1
2019-05-22 01:30:11     1
Name: count, Length: 226818, dtype: int64 /n
FECHA_INICIO FECHA_INICIO
2019-06-02 17:30:00    185
2019-05-26 17:30:00    144
2019-05-25 08:00:00    129
2019-05-29 09:00:00    127
2019-05-31 08:00:00    126
                      ...
2019-06-08 09:07:00      1
2019-05-04 15:50:00      1
2019-07-13 09:07:00      1
2019-06-02 06:10:00      1
2019-10-19 19:40:00      1
Name: count, Length: 18161, dtype: int64 /n
FECHA_FIN FECHA_FIN
2019-05-30 14:20:00    111
2019-05-28 09:20:00    106
2019-05-28 14:20:00    104
2019-05-27 09:20:00     99
2019-05-30 09:20:00     96
                      ...
2019-10-17 18:54:00      1
2019-04-30 21:48:00      1
2019-10-04 09:20:00      1
2019-09-25 08:40:00      1
2019-07-13 16:14:00      1
Name: count, Length: 23200, dtype: int64 /n
CIUDAD_ORIGEN CIUDAD_ORIGEN
MADRID        191663
BARCELONA      61653
SEVILLA        60783
VALENCIA       53620
PONFERRADA     15849
Name: count, dtype: int64 /n
CIUDAD_DESTINO CIUDAD_DESTINO
MADRID        191905
BARCELONA      64052
SEVILLA        60617
VALENCIA       58091
PONFERRADA      8903
Name: count, dtype: int64 /n
TIPO_TREN TIPO_TREN
AVE          236293
ALVIA         27231
INTERCITY     17846
REGIONAL      16817
AV City        9754
MD-LD          7475
LD             5906
AVE-TGV        4593
R. EXPRES      4165
TRENHOTEL      3956
AVE-LD         3506
AVE-MD         2955
LD-MD          2793
MD-AVE          871
MD              548
LD-AVE          502
Name: count, dtype: int64 /n
TIPO_TARIFA TIPO_TARIFA
Promo                      239847
Flexible                    74144
Adulto ida                  21624
Promo +                      8222
COD.PROMOCIONAL               148
Individual-Flexible            11
Mesa                            8
Doble Familiar-Flexible         3
4x100                           1
Grupos Ida                      1
Name: count, dtype: int64 /n
CLASE CLASE
Turista                     261745
Preferente                   33963
Turista Plus                 24348
Turista con enlace           20867
TuristaSólo plaza H           2480
PreferenteSólo plaza H         317
Cama Turista                   263
Cama G. Clase                   15
Turista PlusSólo plaza H         2
Name: count, dtype: int64 /n
PRECIO PRECIO
85.10     18629
28.35     18409
76.30     17566
107.70    13762
60.30     12476
          ...
52.30         1
83.49         1
90.45         1
103.30        1
49.14         1
Name: count, Length: 292, dtype: int64 /n